/* root css styles */
:root {
  --body-bg: linear-gradient(135deg, #1553ae 0%, #2a9e57 100%);
  --msger-bg: #fff;
  --border: 2px solid #ddd;
  --left-msg-bg: #1e0707;
  --right-msg-bg: #0f2c52;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: var(--body-bg);
  font-family: Helvetica, sans-serif;
}

.msger {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 867px;
  margin: 25px 10px;
  height: calc(100% - 50px);
  border: var(--border);
  border-radius: 5px;
  background: var(--msger-bg);
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.msger-header {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  grid-column-gap: 1px;
  justify-items: center;
  font-size: medium;
  justify-content: space-between;
  padding: 10px;
  /*text-align: center;*/
  border-bottom: var(--border);
  background: #eee;
  color: #666;
}

.previous {
  grid-column-start: 1;
}

.msger-header-title {
  grid-column-start: 3;

  font-family: "Arial", sans-serif;
  font-size: 20px;
  color: #1553ae;
  display: flex;
  align-items: center;
}

/* bug symble */
.bug {
  font-size: 16px;
  color: #f00;
  animation: spin 2s linear infinite;
  margin-right: 2px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

.greeting {
  grid-column-start: 5;
}

.msger-chat {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.msger-chat::-webkit-scrollbar {
  width: 6px;
}

.msger-chat::-webkit-scrollbar-track {
  background: #ddd;
}

.msger-chat::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}

.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.msg-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.msg-bubble {
  max-width: 450px;
  padding: 15px;
  border-radius: 15px;
  background: var(--left-msg-bg);
}

.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
}

.msg-info-time {
  font-size: 0.85em;
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
  color: #fff;
}

.right-msg {
  flex-direction: row-reverse;
}

.right-msg .msg-bubble {
  background: var(--right-msg-bg);
  color: #fff;
  border-bottom-right-radius: 0;
}

.right-msg .msg-img {
  margin: 0 0 0 10px;
}

.msger-inputarea {
  display: flex;
  padding: 10px;
  border-top: var(--border);
  background: #eee;
}

.msger-inputarea * {
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
}

.msger-input {
  flex: 1;
  background: #ddd;
}

.msger-send-btn {
  /*padding: 4px 60px;*/
  width: 150px;
  height: 50px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: rgb(0, 196, 65);
  border-radius: 12px;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
}

.msger-send-btn:hover {
  background: rgb(0, 180, 50);
  /*box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);*/
}

.record-send-btn:hover {
  background: blue;
}

/* whole backgroud color */
.msger-chat {
  background-color: #333;
  /*background-image: url("");*/
}


/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
  display: block;
}

body.loading {
  overflow: hidden;
  pointer-events: none;
}

body.shapGenerating .modal {
  display: block;
}

body.shapGenerating {
  overflow: hidden;
  pointer-events: none;
}

.hint-loading {
  font-size: 15px;
  color: green;
}

.hint-loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  /*-webkit-animation: ellipsis steps(4,end) 900ms infinite;*/
  /*animation: ellipsis steps(4,end) 900ms infinite;*/
  content: "\2026";
  /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 20px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 20px;
  }
}

.autocomplete {
  display: flex;
  padding: 10px;
  position: relative;
}

.autocomplete-items {
  position: absolute;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #cceeff;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

/*STAR*/
div.stars {
  width: 270px;
  display: inline-block;
}

input.star {
  display: none;
}

label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all 0.2s;
}

input.star:checked~label.star:before {
  content: "\f005";
  color: #fd4;
  transition: all 0.25s;
}

input.star-5:checked~label.star:before {
  color: #fe7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked~label.star:before {
  color: #f62;
}

label.star:hover {
  transform: rotate(-15deg) scale(1.3);
}

label.star:before {
  content: "\f006";
  font-family: FontAwesome;
}

.fit-picture {
  width: 50px;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.copyright {
  text-align: right;
  font-size: medium;
  margin-right: 10px;
}

textarea {
  resize: none;
}

.list-group-item {
  margin: 50px;
}

.previous {
  background: #28a745;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  border-radius: 10px;
  position: left;
}

.swal-title {
  text-align: left;
}

.swal2-input {
  text-align: left;
}

.swal2-select {
  text-align: left;
}

.swal2-shown {
  max-height: 100%;
}

[data-tooltip] {
  position: relative;
}

[data-tooltip]:after {
  content: attr(data-tooltip);
  position: absolute;
  right: 50%;
  bottom: 120%;
  /* put it on the top */
  background-color: white;
  width: max-content;
  max-width: 250px;
  opacity: 0;
  color: black;
  padding: 5px;
  border-style: solid;
  border-width: 0.5px;
  -webkit-transition: opacity 0.75s ease-in-out;
}

[data-tooltip]:hover:after {
  opacity: 1;
}

div[data-tooltip]:after {
  left: 5px !important;
}

.tooltip-button {
  padding: 2px;
  border-radius: 25px;
  background-color: white;
  color: black;
  font-size: 65%;
  width: 19px;
  height: 19px;
  font-family: Sans-serif;
  border-width: 1.5px;
}

[data-tooltip1] {
  position: relative;
}

[data-tooltip1]:after {
  content: attr(data-tooltip1);
  position: absolute;
  left: 50%;
  bottom: 120%;
  /* put it on the top */
  background-color: white;
  width: max-content;
  max-width: 400px;
  opacity: 0;
  color: black;
  padding: 5px;
  border-style: solid;
  border-width: 0.5px;
  -webkit-transition: opacity 0.75s ease-in-out;
}

[data-tooltip1]:hover:after {
  opacity: 1;
}

div[data-tooltip1]:after {
  left: 5px !important;
}

.bottom {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 1px;
  font-size: medium;
  justify-content: space-between;
  /*text-align: center;*/
  border-bottom: var(--border);
  background: #eee;
  color: #666;
}

.flexbuttons {
  display: block;
  justify-content: start;
}

.fit-button {
  background: #28a745;
  text-decoration: none;
  padding: 5px 10px;
  color: #fff;
  border-radius: 10px;
  border-style: none;
}

.fit-button:focus {
  background: #5cb85c;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content1 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown1 {
  position: relative;
  display: inline-block;
}

.dropdown-content1 a:hover {
  background-color: #ddd;
}

.show1 {
  display: block;
}

/* previous dropdown button */
.dropdown-toggle {
  color: white;
  background-color: rgba(7, 133, 49, 0.897);
  border: none;
  padding: 5px 10px;
  transition-duration: 0.4s;
}

.dropdown-toggle:hover {
  background-color: #5a6268;
}

.dropdown-item {
  color: #6c757d;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
}

/* user manual */
.my-button {
  display: inline-block;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  background-color: rgba(7, 133, 49, 0.897);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.my-button:hover {
  background-color: #000000;
}

.footer {
  text-align: left;
  font-size: 14px;
  color: #333;
}

.footer a {
  color: #333;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/* error report */
.btn-danger {
  border: none;
  color: white;
  padding: 4px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 5px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn-danger:hover {
  background-color: white;
  color: black;
}

/* copyright */
.btn-info {
  border: none;
  background-color: rgba(7, 133, 49, 0.897);
  padding: 4px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 5px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn-info:hover {
  background-color: white;
  color: black;
}

.copyright {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}