<!DOCTYPE html>
<html lang="en">
  {#{% extends "base.html" %}#} {% block content %}
  <head>
    {#
    <!-- Google tag (gtag.js) -->
    #} {#
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-MFT6CBN1WE"
    ></script>
    #} {#
    <script>
      #}
      {#  window.dataLayer = window.dataLayer || [];#}
      {#  function gtag(){dataLayer.push(arguments);}#}
      {#  gtag('js', new Date());#}
      {##}
      {#  gtag('config', 'G-MFT6CBN1WE');#}
      {#
    </script>
    #}
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-1QRS8FCQKN"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-1QRS8FCQKN");
    </script>
    <title>Breast Cancer iMedBot</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!--    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">-->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!--    <script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>-->
    <!--    <script src="https://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>-->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/iMedbot.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
    <div class="slideshow-container">
      <ul>
        <li><img src="./static/img/pitt2.jpg" alt="图片2"></li>
        <li><img src="./static/img/pitt3.jpg" alt="图片3"></li>
        <li><img src="./static/img/pitt4.jpg" alt="图片4"></li>
        <li><img src="./static/img/pitt5.jpg" alt="图片4"></li>
        <li><img src="./static/img/pitt6.jpg" alt="图片4"></li>
        <li><img src="./static/img/pitt7.jpg" alt="图片4"></li>
        <li><img src="./static/img/pitt8.jpg" alt="图片4"></li>
        <li><img src="./static/img/pitt9.jpg" alt="图片4"></li>
        <li><img src="./static/img/pitt10.jpg" alt="图片4"></li>
        <li><img src="./static/img/pitt11.jpg" alt="图片4"></li>
        <li><img src="./static/img/pitt12.jpg" alt="图片4"></li>
        <li><img src="./static/img/pitt13.jpg" alt="图片4"></li>
        <li><img src="./static/img/pitt14.jpg" alt="图片4"></li>
        <li><img src="./static/img/pitt15.jpg" alt="图片4"></li>
        <li><img src="./static/img/pitt16.jpg" alt="图片4"></li>
      </ul>
    </div>
    
  </head>

  <body>
    <!--<div class="center">-->
    
    <!-- partial:index.partial.html -->

    <section class="msger">

      <header class="msger-header">
        <div class="dropdownlist">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            &laquo; Previous
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#" onclick="GoBackToLastMsg()">Back to Service Choices</a>
            <a class="dropdown-item" href="#" onclick="GoBackDialog()">Back to Previous Dialogs</a>
          </div>
        </div>
        

        <div>
          <button class="my-button" onclick="openLink()">User Manual</button>
        <script>
          // on click procedures
          function openLink() {
            window.open('./static/pdf/file.pdf', '_blank');
          }
        </script>
        </div>

        <div class="msger-header-title">
          <div class="bug"><i class="fas fa-bug"></i></div>
          Breast Cancer iMedbot
          <div class="bug"><i class="fas fa-bug"></i></div>
        </div>
        

        <!--change theme function-->
        <div>
          <button class="themeButton"> &#127763 </button>
        </div>

      </header>
      <main class="msger-chat"></main>
      <!--<div id="hidden_div" style="display: none">
        <table id="hidden_table" class="table table-striped"></table>
      </div>-->
      <div class="hint-loading" id="hint">
        <button
          id="showdataset"
          type="button"
          class="btn btn-info"
          style="display: none"
        >
          Show Dataset!
        </button>
      </div>
      <form
        id="form1"
        action="/dataset"
        method="POST"
        enctype="multipart/form-data"
      >
        <input
          id="fileid"
          type="file"
          name="dataset"
          accept=".csv,.txt"
          style="display: none"
        />
        <input
          id="submitDataset"
          type="submit"
          value="Upload"
          style="display: none"
        />
      </form>

      <div class="bottom">
        <a class="btn btn-info text-light copyright" href="https://scholar.google.com/citations?hl=en&user=6Yid6tMAAAAJ" target="_blank">
          Copyright © 2021 Xia Jiang, University of Pittsburgh. All rights reserved.
        </a>
        <a class="btn btn-danger text-light" href="#" onclick="error_report()">Error Report</a>
      </div>
    </section>

    <!--</div>-->

    <!-- partial -->
    <script src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"></script>
    <script
      type="text/javascript"
      src="static/assets/input_question.js"
    ></script>
    <script
      type="text/javascript"
      src="static/assets/input_question10.js"
    ></script>
    <script
      type="text/javascript"
      src="static/assets/input_question5.js"
    ></script>

    <script type="text/javascript" src="static/js/iMedbot.js"></script>
  </body>
  {% endblock %}
</html>
